@import "tailwindcss";
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/GangwonEduPower/GangwonEduPower.css');

@font-face {
  font-family: 'GangwonEdu Power';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GangwonEduPower/GangwonEduPower.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/fonts-archive/GangwonEduPower/GangwonEduPower.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/fonts-archive/GangwonEduPower/GangwonEduPower.otf') format('opentype'),
  url('https://cdn.jsdelivr.net/gh/fonts-archive/GangwonEduPower/GangwonEduPower.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /*gray-scale*/
  --color-black:rgba(9, 10, 10, 1);
  --color-gray80: rgba(72, 78, 88, 1);
  --color-gray60: rgba(125, 133, 154, 1);
  --color-gray40 : rgba(180, 187, 205, 1);
  --color-gray20: rgba(218, 222, 232, 1);
  --color-white: rgba(255, 255, 255, 1);

  /*primary*/
  --color-main: rgba(254, 163, 31, 1);
  --color-sub: rgba(255, 232, 199, 1);

  /*ganwon-font*/
  --font-gangwon: 'GangwonEdu Power', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
